.MuiBackdrop-root {
  z-index: 999;
  &.white {
    background-color: var(--bg-default);
  }

  .MuiCircularProgress-root {
    .MuiCircularProgress-svg {
      color: $primaryMain;
    }
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: var(--bg-default);
  background-image: url(assets/images/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}
