.wrapper.auth {
  background-image: url("../../assets/images/auth/bg-auth.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

  .btn-google, .btn-or {
    background-color: transparent;
  }
}
