.MuiContainer {
  &-root {
    padding: 0;
  }
}

.MuiPaper {
  &-root {
    background-image: none;
  }

  &-rounded {
    @include _rounded_corners();
  }
}

.MuiAppBar-root {
  &.sticky {
    background: transparent;
    backdrop-filter: blur(15px);

    .bg-transparent,
    .MuiAvatar-root {
      background: transparent;
    }
  }
}

// ==============================|| MuiCard ||============================== //
.MuiCardHeader {
  &-root {
    color: $textHeading;
    padding: 24px;
  }

  &-title {
    font-size: 1.125rem;
  }
}

.MuiCardContent {
  &-root {
    padding: 24px;
  }
}

.MuiCardActions {
  &-root {
    padding: 24px;
  }
}

// ==============================|| FORMS ||============================== //
.MuiInputBase {
  &-input {
    color: $textHeading;

    &::placeholder {
      color: $textSecondary;
      font-size: 0.875rem;
    }

    + .MuiInputAdornment-root {
      > .MuiButtonBase-root {
        color: $textHeading;
      }
    }
  }
}

.MuiButton {
  &-root {
    font-weight: 50;
    @include _rounded_corners(4px);
    background-color: var(--bg-button);

    &.Mui-disabled {
      background-color: var(--bg-button-disabled);
      color: var(--text-primary)
    }
  }
}

.MuiButtonBase {
  &-root {
    .MuiAvatar-root {
      background-color: transparent;
    }
  }
}

.MuiOutlinedInput {
  &-root {
    background: $bgContainerMain;
    @include _rounded_corners();

    &:hover,
    &.Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border: $border;
      }
    }
  }

  // &-notchedOutline {
  //   border-color: $grey300;
  // }

  &-input {
    font-weight: 500;
    padding: 15.5px 14px;

    &.MuiInputBase-inputSizeSmall {
      padding: 10px 14px;
      &.MuiInputBase-inputAdornedStart {
        padding-left: 0;
      }
    }
  }

  &-inputAdornedStart {
    padding-left: 4;
  }
}

.MuiFormHelperText {
  &-root {
    &.Mui-error {
      position: absolute;
      bottom: 0;
    }
  }
}

// ==============================|| MuiListItem ||============================== //
.MuiListItemButton {
  &-root {
    color: $textDefault;
    padding-top: 10px;
    padding-bottom: 10px;

    &.Mui-selected {
      color: $textSelected;
      background-color: $bgSelected;

      &:hover {
        background-color: $bgSelected;
      }

      > .MuiListItemIcon-root {
        color: $textSelected;
      }

      > .MuiListItemText-root {
        > .MuiTypography-root {
          color: $textSelected;
        }
      }
    }

    &:hover {
      background-color: $bgSelected;
      color: $textSelected;

      > .MuiListItemIcon-root {
        color: $textSelected;
      }

      > .MuiListItemText-root {
        > .MuiTypography-root {
          color: $textSelected;
        }
      }
    }
  }
}

.MuiListItemIcon {
  &-root {
    color: $textDefault;
    min-width: 36px;
  }
}

.MuiListItemText {
  &-primary {
    color: $textHeading;
  }
}

// ==============================|| Utilities ||============================== //
.MuiTypography {
  &-root {
    word-break: break-all;
  }

  &-h1 {
    font-size: 2.125rem;
    color: $textHeading;
    font-weight: 700;
  }

  &-h2 {
    font-size: 1.5rem;
    color: $textHeading;
    font-weight: 700;
  }

  &-h3 {
    font-size: 1.25rem;
    color: $textHeading;
    font-weight: 600;
  }

  &-h4 {
    font-size: 1rem;
    color: $textHeading;
    font-weight: 600;
  }

  &-h5 {
    font-size: 0.875rem;
    color: $textHeading;
    font-weight: 500;
  }

  &-h6 {
    font-size: 0.75rem;
    color: $textHeading;
    font-weight: 500;
  }

  &-subtitle1 {
    font-size: 0.875rem;
    font-weight: 500;
    color: $textHeading;
  }

  &-subtitle2 {
    font-size: 0.75rem;
    font-weight: 400;
    color: $textSubTitle;
  }

  &-caption {
    font-size: 0.75rem;
    color: $textCaption;
    font-weight: 400;
  }

  &-overline {
    color: $textHeading;
    font-weight: 400;
  }

  &-body1 {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.334em;
    color: $textDefault;

    &.MuiFormControlLabel-label {
      color: $textHeading;
    }
  }

  &-body2 {
    letter-spacing: 0em;
    font-weight: 400;
    line-height: 1.5em;
    color: $textDefault;
  }

  &-button {
    color: $textSecondary;
    text-transform: capitalize;
  }

  &-customInput {
    margin-top: 1px;
    margin-bottom: 1px;
    > label {
      top: 23px;
      left: 0px;
      color: $grey500;
      &[data-shrink="false"] {
        top: 5px;
      }
    }
    > div > input {
      padding: 30.5px 14px 11.5px !important;
    }
    legend {
      display: none;
    }
    fieldset {
      top: 0;
    }
  }

  &-menuCaption {
    font-size: 0.875rem;
    font-weight: 500;
    color: $textHeading;
    padding: 6px;
    text-transform: capitalize;
    margin-top: 10px;
  }

  &-subMenuCaption {
    font-size: 0.6875rem;
    font-weight: 500;
    color: $textCaption;
    text-transform: capitalize;
  }

  &-commonAvatar {
    cursor: pointer;
    @include _rounded_corners(8px);
  }

  &-smallAvatar {
    width: 22px;
    height: 22px;
    font-size: 1rem;
  }

  &-mediumAvatar {
    width: 34px;
    height: 34px;
    font-size: 1.2rem;
    margin: 8px 0 8px 8px !important;
    cursor: pointer;
  }

  &-largeAvatar {
    width: 44px;
    height: 44px;
    font-size: 1.5rem;
  }
}

.MuiSlider {
  &-root {
    &.Mui-disabled {
      color: $grey300;
    }
  }

  &-mark {
    background-color: $paper;
    width: 4px;
  }

  &-valueLabel {
    color: $primaryLight;
  }
}

.MuiDivider {
  &-root {
    border-color: $colorDivider;
    opacity: 1;
  }
}

.MuiTooltip {
  &-tooltip {
    color: $paper;
    background: $textDefault;
  }
}

.MuiAvatar {
  &-root {
    color: $iconFontColor;
    background: $bgContainerMain;
    @include _rounded_corners();
    @include _transition(".2s", "ease-in-out", "all");

    svg {
      color: $iconFontColor;

      > g {
        path {
          fill: $iconFontColor;
        }
      }
    }

    &:hover {
      background: $bgContainerLight;
      border-color: $bgContainerLight;
      color: $iconFontColorHover;

      svg {
        color: $iconFontColorHover;

        > g {
          path {
            fill: $iconFontColorHover;
          }
        }
      }
    }
  }
}
