// Export the color palette to make it accessible to JS
:export {
  /* Define all colours */
  // ==============================|| LIGHT THEME VARIANTS ||============================== //
  // primary
  primaryLight: $primaryLight;
  primaryMain: $primaryMain;
  primaryDark: $primaryDark;
  primary200: $primary200;
  primary800: $primary800;

  // secondary
  secondaryLight: $secondaryLight;
  secondaryMain: $secondaryMain;
  secondaryDark: $secondaryDark;
  secondary200: $secondary200;
  secondary800: $secondary800;

  // text variants
  darkTextSecondary: $darkTextSecondary;

  // ==============================|| DARK THEME VARIANTS ||============================== //
  // primary dark
  darkPrimaryLight: $darkPrimaryLight;
  darkPrimaryMain: $darkPrimaryMain;
  darkPrimaryDark: $darkPrimaryDark;
  darkPrimary200: $darkPrimary200;
  darkPrimary800: $darkPrimary800;

  // secondary dark
  darkSecondaryLight: $darkSecondaryLight;
  darkSecondaryMain: $darkSecondaryMain;
  darkSecondaryDark: $darkSecondaryDark;
  darkSecondary200: $darkSecondary200;
  darkSecondary800: $darkSecondary800;

  // ==============================|| VARIABLE MULTIPLE THEME VARIANTS ||============================== //
  // paper & background
  backgroundContainerMain: $bgContainerMain;
  backgroundContainerLight: $bgContainerLight;
  paper: $paper;
  backgroundDefault: $bgDefault;

  textMenuSelected: $textMenuSelected;
  bgMenuSelected: $bgMenuSelected;

  textPrimary: $textPrimary;
  fontTextPrimary: $fontTextPrimary;
  fontTextPrimaryHover: $fontTextPrimaryHover;

  // ==============================|| GENERAL THEME VARIANTS ||============================== //
  // success
  successLight: $successLight;
  success200: $success200;
  successMain: $successMain;
  successDark: $successDark;

  // error
  errorLight: $errorLight;
  errorMain: $errorMain;
  errorDark: $errorDark;

  // orange
  orangeLight: $orangeLight;
  orangeMain: $orangeMain;
  orangeDark: $orangeDark;

  // warning
  warningLight: $warningLight;
  warningMain: $warningMain;
  warningDark: $warningDark;

  // grey
  grey50: $grey50;
  grey100: $grey100;
  grey200: $grey200;
  grey300: $grey300;
  grey500: $grey500;
  grey600: $grey600;
  grey700: $grey700;
  grey900: $grey900;
}
