.wrapper.community.chatbox {
  .wrapper-content {
    .chat__main {
      height: 100%;
      display: flex;
      flex-direction: column;

      .MuiCardHeader-root {
        .MuiCardHeader-content {
          .MuiCardHeader-title {
            text-transform: lowercase;

            &:before {
              content: "#";
            }
          }
        }
      }

      .MuiCardContent-root {
        &.chat__body {
          height: inherit;
          display: flex;
          padding-right: 1rem;
        }

        .MuiGrid-container {
          flex-direction: column;

          .chat__content {
            max-height: 56vh;
            padding-right: 1rem;
            overflow: auto;

            .chat__other {
              margin-right: auto;

              > .MuiCard-root {
                background-color: var(--bg-container-main);
                @include _shadow(0 0 0 0 transparent);
              }
            }

            .chat__me {
              margin-left: auto;

              > .MuiCard-root {
                background-color: var(--info-background-color);
                @include _shadow(0 0 0 0 transparent);
              }
            }
          }

          .chat__footer {
            margin-top: auto;

            .outline-typing-message {
              width: 100%;
              padding-right: 1rem;

              .emoji-picker {
                cursor: pointer;
              }

              .adorment-picker {
                em-emoji-picker {
                  position: absolute;
                  bottom: 55px;
                  left: 0;

                  #shadow-root {
                    left: auto;
                    section#root {
                      background: var(--background-rgb);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
