.defaultTheme {
  --bg-container: #eef2f6;
  --bg-container-hover: #2239ba;
  --bg-paper: #fff;
  --bg-default: #fff;
}
.darkTheme {
  --bg-container: #2b3239;
  --bg-container-hover: #364152;
  --bg-paper: #1d2226;
  --bg-default: #1d2226;
}
