/* Define all colours */
// ==============================|| LIGHT THEME VARIANTS ||============================== //
// primary
$primaryLight: #eef2f6; //#ede7f6;
$primaryMain: #673ab7;
$primaryDark: #5e35b1;
$primary200: #b39ddb;
$primary800: #4527a0;

// $primaryLight: #eef2f6;
// $primaryMain: #3f51b5;
// $primaryDark: #2239ba;
// $primary200: #2196f3;
// $primary800: #1565c0;

// secondary
$secondaryLight: #eef2f6; //#ede7f6;
$secondaryMain: #673ab7;
$secondaryDark: #5e35b1;
$secondary200: #b39ddb;
$secondary800: #4527a0;

// ==============================|| DARK THEME VARIANTS ||============================== //
// primary dark
$darkPrimaryLight: #364152;
$darkPrimaryMain: #4b5565;
$darkPrimaryDark: #364152;
$darkPrimary200: #cdd5df;
$darkPrimary800: #121926;

// secondary dark
$darkSecondaryLight: #d1c4e9;
$darkSecondaryMain: #7c4dff;
$darkSecondaryDark: #651fff;
$darkSecondary200: #b39ddb;
$darkSecondary800: #6200ea;

// ==============================|| VARIABLE MULTIPLE THEME VARIANTS ||============================== //
// paper & background
$bgContainerMain: var(--bg-container-main);
$bgContainerLight: var(--bg-container-light);
$paper: var(--bg-paper);
$bgDefault: var(--bg-default);
$colorDivider: var(--color-divider);

// menuItemSelected
$textSelected: var(--text-selected);
$bgSelected: var(--bg-selected);

// text/font cions
$textPrimary: #364152;
$textDefault: var(--text-default);
$textSecondary: var(--text-secondary);
$textButtonDisabled: var(--text-button-disabled);
$iconFontColor: var(--icon-font-color);
$iconFontColorHover: var(--icon-font-color-hover);
$textHeading: var(--text-heading);
$textSubTitle: var(--text-subtitle);
$textCaption: var(--text-caption);

// ==============================|| GENERAL THEME VARIANTS ||============================== //
// success Colors
$successLight: #b9f6ca;
$success200: #69f0ae;
$successMain: #00e676;
$successDark: #00c853;

// error
$errorLight: #ef9a9a;
$errorMain: #d32f2f;
$errorDark: #c62828;

// orange
$orangeLight: #fbe9e7;
$orangeMain: #ffab91;
$orangeDark: #d84315;

// warning
$warningLight: #fff8e1;
$warningMain: #ffe57f;
$warningDark: #ffc107;

// infos
// $infoLight: #e5f6fd;
$infoMain: #e5f6fd;
// $infoDark: #e5f6fd;

// grey
$grey50: #f8fafc;
$grey100: #eef2f6;
$grey200: #e3e8ef;
$grey300: #cdd5df;
$grey500: #697586;
$grey600: #4b5565;
$grey700: #364152;
$grey900: #121926;

// ==============================|| MY COLOR DEFINE ||============================== //
$font-family: Roboto, Helvetica, Arial, sans-serif;
$font-size: 16px;
$disabled-background: #f5f5f5;
$spin-color: #999;
$border: 1px solid var(--input-border-color);

// breakpoint in mui-ui
$breakpoints-xs: "0";
$breakpoints-sm: "600px";
$breakpoints-md: "900px";
$breakpoints-lg: "1200px";
$breakpoints-xl: "1536px";
$breakpoints-mobile: "0";
$breakpoints-tablet: "640px";
$breakpoints-laptop: "1024px";
$breakpoints-desktop: "1200px";

// @screen-xxs-min: 320px;
// @screen-xs-min: 480px;
// @screen-sm-min: 768px;
// @screen-md-min: 992px;
// @screen-lg-min: 1200px;

// @screen-xxs-max: (@screen-xxs-min - 1);
// @screen-xs-max: (@screen-sm-min - 1);
// @screen-sm-max: (@screen-md-min - 1);
// @screen-md-max: (@screen-lg-min - 1);

// @mobile: ~"only screen and (max-width: @{screen-xxs-min})"; // 320
// @phone: ~"only screen and (max-width: @{screen-xs-min})"; // 480
// @phone-strict: ~"only screen and (min-width: @{screen-xs-min}) and (max-width: @{screen-xs-max})"; // min: 480, max: 767
// @breakpoint-xs: ~"only screen and (max-width: @{screen-xs-max})"; // 768
// @tablet: ~"only screen and (min-width: @{screen-sm-min})"; // 768
// @tablet-strict: ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})"; // min: 767, max: 991
// @desktop: ~"only screen and (min-width: @{screen-md-min})"; // 992
// @desktop-strict: ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})"; // min: 992, max: 1199
// @large: ~"only screen and (min-width: @{screen-lg-min})"; // 1200
