.defaultTheme {
  --preloader: #fff;
  --bg-container-main: #eef2f6;
  --bg-container-light: #5e35b1;
  --bg-paper: #fff;
  --bg-default: #fff;
  --color-divider: #e3e8ef;

  --text-default: #364152;
  --text-primary: #673ab7;
  --text-secondary: #697586;
  --icon-font-color: #5e35b1;
  --icon-font-color-hover: #eef2f6;
  --text-heading: #121926;
  --text-subtitle-1: #121926;
  --text-subtitle-2: #697586;
  --text-theme-primary: #5e35b1;

  --text-menu-selected: #5e35b1;
  --bg-menu-selected: #eef2f6;
}
.darkTheme {
  --preloader: #1d2226;
  --bg-container-main: #2b3239;
  --bg-container-light: #364152;
  --bg-paper: #1d2226;
  --bg-default: #1d2226;
  --color-divider: #364152;

  --text-default: #cdd5df;
  --text-primary: #4b5565;
  --text-secondary: #eef2f6;
  --icon-font-color: #697586;
  --icon-font-color-hover: #fff;
  --text-heading: #eef2f6;
  --text-subtitle-1: #eef2f6;
  --text-subtitle-2: #cdd5df;
  --text-theme-primary: #cdd5df;

  --text-menu-selected: #eef2f6;
  --bg-menu-selected: #2b3239;
}
