.defaultTheme {
  --preloader: #fff;
  --bg-container-main: #eef2f6;
  --bg-container-light: #5e35b1;
  --bg-paper: #fff;
  --bg-default: #fff;
  --bg-button: #5e35b1;
  --bg-button-disabled: rgba(0, 0, 0, 0.12);
  --color-divider: #e3e8ef;

  --text-default: #364152;
  --text-primary: #673ab7;
  --text-secondary: #697586;
  --icon-font-color: #5e35b1;
  --icon-font-color-hover: #eef2f6;
  --text-heading: #121926;
  --text-subtitle: #697586;
  --text-caption: #697586;
  --text-theme-primary: #5e35b1;

  //MENU SELECTED
  --text-selected: #5e35b1;
  --bg-selected: #eef2f6;

  //BORDER COLOR
  --input-border-color: #364152;
}
.darkTheme {
  --preloader: #1d2226;
  --bg-container-main: #00111A;
  --bg-container-light: #082636;
  --bg-paper: #001A26;
  --bg-default: #001A26;
  --bg-button: #364152;
  --bg-button-disabled: #082636;
  --color-divider: #082636;

  --text-default: #cdd5df;
  --text-primary: #4b5565;
  --text-secondary: #eef2f6;
  --icon-font-color: #697586;
  --icon-font-color-hover: #fff;
  --text-heading: #eef2f6;
  --text-subtitle: #cdd5df;
  --text-caption: #697586;
  --text-theme-primary: #cdd5df;

  //MENU SELECTED
  --text-selected: #eef2f6;
  --bg-selected: #00111A;

  //BORDER COLOR
  --input-border-color: #33393c;
}
