.defaultTheme {
  --bg-container-main: #eef2f6;
  --bg-container-light: #2239ba;
  --bg-paper: #fff;
  --bg-default: #fff;

  --text-default: #364152;
  --text-secondary: #697586;
  --icon-font-color: #2239ba;
  --icon-font-color-hover: #eef2f6;

  --text-menu-selected: #2239ba;
  --bg-menu-selected: #eef2f6;
}
.darkTheme {
  --bg-container-main: #2b3239;
  --bg-container-light: #364152;
  --bg-paper: #1d2226;
  --bg-default: #1d2226;

  --text-default: #cdd5df;
  --text-secondary: #eef2f6;
  --icon-font-color: #697586;
  --icon-font-color-hover: #fff;

  --text-menu-selected: #2239ba;
  --bg-menu-selected: #eef2f6;
}
