.workspace {
  @include _shadow(0 0 0 0 transparent);
  background-color: transparent;
  border: none;

  .MuiCardContent-root {
    .wsa {
      &__intro {
        .container__item {
          .desc {
            > h1 {
              word-break: break-word;
            }
            > p {
              font-size: 1.125rem;
              word-break: break-word;
            }
          }

          .acts {
            .btn {
              font-weight: 400;
              font-size: 1rem;
            }
          }

          .terms {
            > h6 {
              word-break: break-word;
            }
          }
        }
      }

      &_tilt {
        display: flex;
        justify-content: center;
      }

      &__img {
        img {
          height: auto;

          @include respond-above(lg) {
            max-width: 80%;
          }

          @include respond-above(xl) {
            max-width: 75%;
          }

          @include respond-below(md) {
            max-width: 65%;
          }

          @include respond-below(tablet) {
            max-width: 100%;
          }
        }
      }
    }
  }
}
